body,
html {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.btn {
  border: 2px solid rgba(122, 122, 122, 0.4);
  width: 70px;
  height: 70px;
  margin: 6px;
  cursor: pointer;
}

.row {
  display: flex;
  flex-direction: column;
}
